@import "vars"
@import "most"
@import "offer"

.header
  height: 3.85rem
  position: relative
  background: $yellow
  &__title
    position: absolute
    left: 0.35rem
    top: 0.6rem
    margin: 0
    padding: 0
    color: #541b82
    font-size: 0.7rem
    line-height: 0.9
    font-weight: bold
  &__img
    position: absolute
    top: 1.8rem
    right: 0
    width: calc(100% - .1rem)
    img
      width: 100%

.sect1
  background-color: #4c1978

.price
  display: flex
  &__now
    font-size: 0.4rem
    color: #fff
    font-weight: 700
    margin-right: 0.1rem
    span
      font-weight: 400
      font-size: 0.35rem
  &__before
    font-weight: 400
    color: #fff
    opacity: .6

.sect1-heading
  font-size: 0.20rem
  line-height: 1.4
  color: $yellow
  margin: 0
    top: 0.35rem
    bottom: .4rem 
  h2
    margin: 0
      bottom: .08rem 
  span
    color: #fff
    line-height: 1.7
    font-size: 0.2rem

.sect1-grid
  margin-top: 0.7rem
  display: flex
  font-size: 0.14rem
  line-height: 0.21rem
  background-color: #5e2194
  img
    width: 100%
  .left,
  .right
    display: flex
    flex-direction: column
    width: 50%
  .left__item,
  .right__item
    padding: .4rem .15rem
  .left__item
    &:first-child
      background: $yellow
      color: #1c0431
    &:last-child
      padding: 0
        bottom: .4rem
      background-color: #7428b2
      span
        padding: 0 .15rem
        display: block
  .right__item
    &:first-child
      padding-bottom: 0
    &:last-child
      background-image: url(../../img/sect1-4.jpg)
      background-size: contain
      height: 100%
      color: #1c0431
      
.sect2
  background-color: #7328b1
  position: relative
.sect2--heading
  line-height: 0.3rem
  text-transform: uppercase
  font-weight: 700
  justify-content: space-between
  span
    color: #fdc913
.sect2-about
  margin-top: -0.8rem
  p
    background-color: #4c1978
    padding: .35rem .25rem
      bottom: 1.2rem
    position: relative
    left: .35rem
    font-size: 0.16rem
    line-height: 0.25rem
    margin: 0
      top: -0.1rem
.sect2-about__img
  position: relative
  left: 0.35rem
  width: 60%
  margin-left: auto
  img
    width: 100%

.sect2-info
  font-size: 0.16rem
  background: $yellow
  color: #1c0431
  margin-top: -0.75rem
  z-index: 2
  position: relative
  .txt-content
    padding: .4rem .3rem
.sect2-info__img
  img
    width: 100%

.sect3
  background-color: #4c1978
  position: relative
  padding-bottom: 1rem
  &__title
    line-height: 1.4
    font-size: 0.26rem
    span
      color: #fdc913

.sect3-grid
  display: flex
  flex-wrap: wrap
  margin-top: 0.5rem
  font-size: 0.14rem
  line-height: .24rem
  img
    max-width: 1rem
  &__item
    flex-basis: 50%
    padding: .25rem .2rem
    box-sizing: border-box
    display: flex
    flex-direction: column
    &:nth-child(2)
      background: $yellow
      color: #1c0431
    &:nth-child(3)
      background: #fff
      color: #1c0431
    &:nth-child(4)
      background-color: #7428b2
    p
      margin: 0
        top: 0.2rem
    &:nth-child(even)
      flex-direction: column-reverse
      p
        margin-bottom: 0.2rem
        margin-top: 0
.sect3-grid__full
  padding: .25rem .2rem
  display: flex
  background: $yellow
  color: #1c0431
  display: grid
  grid-template-columns: 1fr 1fr
  align-items: center
  .img-wrap
    padding-right: 0.2rem
    box-sizing: content-box
  .img-wrap,
  p
    flex-basis: 50%
    margin: 0

.sect3-grid-bot
  display: flex
  font-size: 0.14rem
  line-height: .24rem
  .sect3-grid-bot__left,
  .sect3-grid-bot__right
    padding: .25rem .2rem
  .sect3-grid-bot__left
    background-color: #5e2194
    flex-basis: 50%
    max-height: 1.3rem
    display: flex
    align-items: center
  .sect3-grid-bot__right
    background: #fff
    color: #1c0431
    flex-basis: 50%
    display: flex
    flex-direction: column
    align-items: center
.sect3__img-bot
  position: absolute
  left: 0
  bottom: -0.52rem
  width: 55%
  img
    width: 100%
.sect4
  background: $yellow

.title-2--sect4
  font-size: 0.32rem
  line-height: 1.5
  span
    color: $accent

.sect4-content
  margin-top: 0.6rem
.sect4__item
  display: flex
  align-items: center
  font-size: 0.15rem
  &:first-child
    margin-bottom: 0.5rem
  span
    display: block
    font-size: 0.2rem
    margin-bottom: 0.2rem
    font-weight: bold
    color: $accent
  .img-wrap
    width: 1rem
    flex-shrink: 0
    margin-right: 0.4rem
    img
      width: 100%
  p
    color: #1c0431
    margin: 0

.sect5
  background-color: #ceedf0
  padding: 0
.title-2--sect5
  font-size: 0.32rem
  line-height: 1.5
  color: $accent
  padding: .7rem .35rem
    bottom: 0
  span
    display: block
    color: #8b3cca


.swiper-container
  margin-top: 0.5rem
  padding-bottom: .7rem
.swiper-slide
  position: relative
  padding: 0 .45rem
  box-sizing: border-box
  color: #1c0431
  font-size: 0.16rem
  
  .slide-content
    position: relative
    padding: .4rem .3rem
    box-sizing: content-box
    background: #fff
    border-radius: 0 10px 10px
  .name
    color: #541b82
    font-size: 0.18rem
    display: block
    margin-top: 0.2rem
    font-weight: bold
    text-align: right

.swiper-container-horizontal>.swiper-pagination-progressbar
  width: 80%
  margin: auto
    top: 0.3rem
  position: relative
  background: #fff
  height: 0.08rem
  border-radius: 4px
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill
  background: $yellow
  border-radius: 4px
.slide__decor
  position: absolute
  left: 0
  top: 0
  transform: translateX(-100%)
@import "media"